.places h1 {
	text-align: left;
	font-size: 30px;
	align-self: flex-start;
	width: 100%;
}

.places {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	display: inline-block;
}

.places article h2 {
	font-size: 30px;
	text-align: center;
	align-self: center
}

/* Header for name and price */
.places .name_and_price {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
	text-align: center;
}

.name_and_price h2 {
		align-self: center;
		text-align: center;
}

/* Price by night */
.places .price_by_night {
	align-items: center;
	border: 4px solid #ff5a5f;
	border-radius: 50%;
	color: #ff5a5f;
	display: flex;
	font-size: 30px;
	height: 60px;
	justify-content: center;
	min-width: 60px;
}

.places .name_and_price h2 {
	padding-left: 30%;
}

/* Details of guests, rooms, and bathrooms */
.places .information {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-flow: row wrap;
	height: 80px;
	justify-content: center;
	text-align: center;
}

/* guest/room/bathroom sticker width */
.places .max_guest,
.places .number_rooms,
.places .number_bathrooms {
	width: 100px;
	background-position: center 5px;
	padding: 25px 0 0 0;
	line-height: 25px;
	text-align: center;
}

.places .max_guest {
	background-image: url(../images/icon_group.png);
	background-repeat: no-repeat;
}

.places .number_rooms {
	background-image: url(../images/icon_bed.png);
	background-repeat: no-repeat;
}

.places .number_bathrooms {
	background-image: url(../images/icon_bath.png);
	background-repeat: no-repeat;
}

/* Padding around owner */
.places .user {
	margin: 20px auto 20px auto;
}

.places article .reviews {
	list-style-type: none;
	width: 100%;
	padding-left: 2px;
}

.places article .amenities {
	list-style-type: none;
	margin-top: 40px;
	width: 100%;
	margin-bottom: 40px;
	padding-left: 0;
}
.places article .amenities h2,
.places article .reviews h2 {
	font-size: 16px;
	margin-left: 0;
	text-align: left;
	border-bottom: solid 1px #DDDDDD;
}

.places article .amenities ul,
.places article .reviews ul {
	list-style-type: none;
	padding: inherit;
	margin-left: 0;
	text-align: inherit;
}

.places article .amenities li {
	padding: inherit;
	margin-left: 0;
	text-align: inherit;
}

.places article .reviews li {
	padding: inherit;
	margin-left: 0;
	text-align: left;
}

.places article .reviews h3 {
	font-size: 14px;
	padding: 0 0 0 0;
	margin-left: 0;
	text-align: inherit;
	width: 100%;
	justify-content: center;
}

.places article .reviews p {
	font-size: 12px;
	margin-left: 0;
	padding-left: 0;
	text-align: left;
	width: 100%;
	justify-content: center;
}

article .amenities ul li span {
	background-repeat: no-repeat;
	background-position: 1px;
	padding-left: 30px;
	background-size: 20px;
	margin-bottom: 0;
	justify-content: space-between;
}

.tv {
	background-image: url("../images/icon_tv.png");
}

.wifi {
	background: url("../images/icon_wifi.png");
}

.pets {
	background-image: url("../images/icon_pets.png");
}

.kitchen {
	background-image: url("../images/kitchen.png");
}

.rest {
	background-image: url("../images/resturant.png");
}

.pool {
	background-image: url("../images/pool.png");
}

.club {
	background-image: url("../images/club.png");
}

@media screen and (max-width: 600px) {

	.container .places .information {
		height: auto;
	}

	.container .places .price_by_night {
		border: 2px solid #FF5A5F;
		min-width: 40px;
		height: 40px;
		font-size: 20px;
		top: 3px;
		right: 3px;
		text-align: center;
		line-height: 42px;
	}
}
