section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}
section.filters button {
    background-color: #FF5A5F;
    position: absolute;
    right: 30px;
    margin: 10px auto 10px;
    height: 48px;
    width: 20%;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    color: white;
}
section.filters button:hover {
    opacity: 0.9;
}
div.locations, div.amenities {
    width: 25%;
    height: 100%;
    float: left;
}
 div.locations {

    border-right: 1px solid #DDDDDD;
}

h2 {
    font-size: 16px;
}

h3 {
    font-weight: 600;
    margin-left: 30px;
    line-height: 8px;
    text-indent: 20px;
}

h4 {
    font-weight: 400;
    line-height: 2px;
    margin-left: 30px;
    text-indent: 20px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    text-indent: 20px;
}

li {
    padding-bottom: 10px;
    text-indent: 40px;
}
.popover {
    display: none;
    background-color: #FAFAFA;
    margin-top: 6.5px;
    position: absolute;
    width: 25%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    float: left;
    padding-bottom: 30px;
}

.locations:hover .popover {
    display: table-cell;
}

.amenities:hover .popover {
	display: table-cell;
}

@media only screen and (max-width: 1020px) {
    .filters {
        background-color: white;
        height: 70px;
        width: 90%;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }
    section.filters button {
        font-size: 100%;
        color: white;
        background-color: #FF5A5F;
        height: 70%;
        width: 20%;
        border: 0px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: 30px;
        opacity: 1;
    }
}

@media only screen and (max-width: 550px) {
    .popover {
        background-color: #FAFAFA;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        display: none;
        position: relative;
        left: -16px;
        width: 50%;
        z-index: 1;
        margin-top: 2%;
        padding: 30px 50px 30px 10px;
        margin-left: 1px;
    }
    .locations, .filters .amenities {
        height: 100%;
        width: 25%;
        padding-left: 3%;
    }
    .locations h4, .amenities h4 {
        font-weight: 300;
        font-size: 13px;
        margin: 0em;
    }
    .amenities > .popover > li {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .popover h2 {
        margin-top: 0px;
        margin-bottom: 3px;
        margin-left: 0%;
    }
    .locations > .popover > li {
        margin-bottom: 20px;
        margin-left: -5px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 280px) {
    .locations h4, .amenities h4 {
        font-weight: 400;
        font-size: 13px;
        margin: 0em;
    }
    section.filters button {
        font-size: 100%;
        color: white;
        background-color: #FF5A5F;
        height: 70%;
        width: 25%;
        border: 0px;
        border-radius: 4px;
        margin-left: auto;
        margin-right: 20px;
        opacity: 1;
    }
}
